{% extends 'base.html' %}
{%  block title %}萌娘百科更新姬-登入{% endblock %}
{% block mainbody %}
<div class='col-md-8 col-md-offset-4'>
        <p class='lead'>登入以查看更新姬推送状态</p>
</div>
<div class='col-md-4 col-md-offset-4'>
        <form method='POST'>
        {{ form.hidden_tag() }}
    {{ form.username.label }}   {{form.username(class='form-control',id='username',placeholder='用户名')}}
    {{form.password.label}}     {{form.password(class='form-control',id='password',placeholder='密码')}}
     {{form.remember()}} {{form.remember.label}}
    {{form.submit(class='btn btn-primary form-control')}}  
    </form>  
    </div>
</div>
{% endblock %}