{% extends "bootstrap/base.html" %}
{% block title %}萌娘百科更新姬{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class='container-fluid'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#MU_Navbar' aria-expanded='flase'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' href='/'>萌娘百科的更新姬</a>
            </div>
            <div class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                    <li><a href='/'>主页</a></li>
                    <li><a href='/update'>推送状态</a></li>
                    <li><a href='/mupdate'>手动推送</a></li>
                    <li><a href='/'>留言板</a></li>
                </ul>
                <ul class='nav navbar-nav navbar-right'>
                    {% if current_user.is_authenticated %}
                    <li><a href='{{ url_for('auth.logout') }}'>登出</a></li>
                    {% else %}
                    <li><a href='{{ url_for('auth.login') }}'>登入</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
{% block flashmessages %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{message}}
</div>
{% endfor %}
{% endblock %}
<div class='container'>
{% block  mainbody %}{% endblock %}
{% block footer %}
<footer class="footer" id='footer'>
    <div class="container">
        <div class='text-center'>
            <small>本站使用<a href='http://flask.pocoo.org/'>python-flask</a>作为后端</small><br />
            <small>感谢twitter能够提供<a href='http://www.getbootstrap.com/'>bootstrap</a>，使前端开发不再痛苦
            部分图标由<a href='http://glyphicons.com/'>glyphicons</a>提供</small><br />
            <small>萌娘百科© 2015 authored by bbrabbit</small>
        </div>
    </div>
</footer>
{%endblock%}
{% endblock %}

