{% extends 'base.html' %}
{% block title %}萌娘百科的更新姬-推送状态{% endblock %} 
{% block scripts %} 
{{ super() }}
<script type="text/javascript" src="/static/refresh.js" ></script>
<script>
function sendtoken(callback,id){
    var csrftoken = "{{ csrf_token() }}"
    callback(id,csrftoken)
}
</script>
{% endblock %} 
{% block mainbody %}
<div class='row'>
    <p>本日剩余推送次数:{{ pushtime }}本日剩余删除次数:{{  deltime }}</p>
    <div class='col-md-7'>
        <table class='table table-hover'>
            <tr>
                <th class='col-md-1'>序号</th>
                <th class='col-md-5'>词条名</th>
                <th>优先推送</th>
                <th>删除</th>
            </tr>
            {% for title in title %}
            <tr>
                <th>{{ loop.index }}</th>
                <th>
                    <p>{{ title }}</p>
                </th>
                <th>
                    <button class='btn btn-default' id='{{title}}' value='push' data-toggle='modal' data-target='#loadingModal' onclick='sendtoken(pushbtnclick,this.id)'>推送</button>
                </th>
                <th>
                    <button class='btn btn-default' id='{{title}}' value='delete' data-toggle='modal' data-target='#loadingModal'  onclick='sendtoken(delbtnclick,this.id)'>删除</button>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class='col-md-3 col-md-offset-1'>
        <p style='lead'>{{ moment(current_time).format('LLL') }}</p>
    </div>
</div>
<div class='modal fade' id='loadingModal' tabindex='-1' role='dialog' aria-labelledby='loadingModalLabel'>
    <div class='modal-dialog' role='alertdialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-labal='close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='loadingModalLabel'>处理中</h4>
            </div>
            <div class='modal-body'>
                <div class='text-center' id='ModalContent'>
                    <p>正在处理推送，请稍后</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}